<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>

<style>
    img {
        width: 10em;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
</style>

<body>
    <main>
        <h1>
            <%= store.name %>
        </h1>
        <h2>
            <%= user.username %>
        </h2>


        <ul>
            <% for (var item of menu) { %>
                <li class="item">
                    <%= item.label %>
                        <%= item.price %>
                            <img src="<%= item.image %>" alt="">
                </li>


                <button><a href="/api/kiosk/order?menu_id=<%= item.id %>">결제</a></button>
                <% } %>

        </ul>
    </main>

    <button id="signout-button">signout</button>
</body>

<script>
    document.getElementById("signout-button").addEventListener("click", function() {
        fetch("/auth/kiosk/agent-user", {
                method: "DELETE"
            })
            .then(() => {
                // redirect to sign in page
                window.location.href = "/auth/kiosk/agent-user";
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    });
</script>


</html>